[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dj-database-url = "*"
django-compressor = "*"
django = "*"
gunicorn = "*"
represent-boundaries = "*"
psycopg2-binary = "*"
python-dotenv = "*"
whitenoise = "*"

[requires]
python_version = "3.7"
