[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dj-database-url = "==0.5.0"
django-compressor = "==4.1"
django = "==2.2.8"
gunicorn = "==20.1.0"
represent-boundaries = "*"
psycopg2-binary = "==2.9.3"
python-dotenv = "*"
whitenoise = "==6.2.0"

[requires]
python_version = "3.9"
