<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <head>
    <link rel="stylesheet" href="https://s3.amazonaws.com/data.minnpost/projects/minnpost-styles/0.0.6-alpha/minnpost-styles.min.css" type="text/css">
    <title>Represent Minnesota — a Minnesota boundary service</title>
  </head>

  <body>
    <div class="mp">

      <div class="text-block large">
        <h1>Represent Minnesota</h1>
        <h3>A Minnesota boundary service</h3>
    
        <p>Represent Minnesota is an implementation of <a href="">Open North’s Represent Boundaries</a> API populated with Minnesota geographic data sets.</p> 
        
        <p>Represent Minnesota is maintained by <a href="https://www.minnpost.com">MinnPost</a>. Code and further information can be found in this 
          project’s <a href="https://github.com/MinnPost/represent-minnesota">GitHub repo</a>.</p>


        <h4>Available boundary sets:</h4>
        <ul class="boundary-sets">
          <li>Loading…</li>
        </ul>
      </div>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      var url = "https://represent-minnesota.herokuapp.com/boundary-sets/?limit=50"
      $.getJSON(url, function(data){
        links = []
        $.each(data.objects, function(i, item){
          s = "<li><a href='https://represent-minnesota.herokuapp.com" + item.url + "'>" + item.name + "</a>";
          links.push(s);
        });
        
        $(".boundary-sets").html(links.join(""));
      })
    })
    </script>

  </body>
</html>